body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background: linear-gradient(45deg, #303033, #494949); /* Gradient background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-out, bounceIn 0.5s ease-out; 
    opacity: 0.9;
}
  
  h1 {
    color: #d1d1c0;
  }
  
  #status {
    font-size: 18px;
    margin-top: 20px;
    transition: color 0.3s ease; 
  }
  
  /* Animation Keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  /* Status Animation */
  @keyframes statusBlink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0.3;
    }
  }
  
  /* Apply statusBlink to the status element */
  .status-animation {
    animation: statusBlink 1s infinite; /* Blink animation */
  }
  